body {
    background-color: orange;
    margin: 70px;
}

h1 {
    color: white;
    text-align: center;
}

h3{
	margin-left: 20px;
}

p {
    font-family: Times ;
 }

 td {

 }

 table{
 	margin-left: 100px;
 }
